// main: ../../../../../style.scss
.page-template-page-mass-times {
  .mass-times {
    margin-bottom: 35px;
  }
  .mass-times.grid {
    gap: 25px;

    .mass-times-section {
      padding-bottom: 35px;

      &:nth-child(odd) {
        grid-column: 1/3;
      }

      &:nth-child(even) {
        grid-column: 3/5;
      }

      &:last-child:nth-child(odd) {
        grid-column: 2/4;
      }

      .mass-time:last-child:nth-child(odd) {
        grid-column: 1/-1;
      }
    }
  }
}
