.ministry-funnel {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    flex-wrap: wrap;
    width: 100%;
    &.entry-content::before,
    &.entry-content::after {
        display: none;
    }
    .ministry-group-wrapper {
        overflow: hidden;
        border-radius: 10px;
        box-shadow: var(--box-shadow);
        height: 20rem;

        &:hover {
            .ministry-group-link {
                transform: scale(1.1);
            }
        }
        .ministry-group-link {
            height: 100%;
            background-position: center;
            background-repeat: no-repeat;
            background-size: cover;
            display: flex;
            align-items: center;
            justify-content: center;
            position: relative;
            color: white;
            text-decoration: none;
            > * {
                color: white;
            }
            &::before {
                content: "";
                position: absolute;
                top: 0;
                right: 0;
                bottom: 0;
                left: 0;
                background: linear-gradient(180deg, black 75%, transparent);
                opacity: 0.25;
            }
            h4 {
                z-index: 1;
            }
        }
    }
}

@media screen and (min-width: $tablet) {
    .ministry-funnel {
        flex-direction: row;
        .ministry-group-wrapper {
            aspect-ratio: 370 / 230;
            width: calc(50% - 2rem);
            height: unset;
        }
    }
}
