// main: ../../../../../style.scss
.buttons-container {
    &.carousel {
        height: 37.5rem; // 568px
        -webkit-perspective: 44.375rem; // 710px
        perspective: 44.375rem; // 710px
        overflow: hidden;
        position: relative;
        width: 100%;
        -webkit-transform-style: preserve-3d;
        transform-style: preserve-3d;
        -webkit-transform-origin: 0% 50%;
        transform-origin: 0% 50%;
        @media screen and (min-width: $tablet){
            perspective: 50.375rem;
        }
        &[data-btns="1"],&[data-btns="2"],&[data-btns="3"]{
            .button {
                width: 28.5rem;
                .button-image {
                    object-fit: cover;
                    max-height: 11rem;
                    margin: 0;
                }
            }
        }
    }
    .button {
        height: 525px;
        position: absolute;
        top: 0;
        left: 0;
        display: flex;
        flex-direction: column;
        background: #fff;
        border-radius: 10px;
        width: 20.5rem; // 328px
        max-width: 85vw;
        min-height: 30rem; // 480px
        overflow: hidden;
        box-shadow: var(--box-shadow);
        @media screen and (min-width: $desktop){
            width: 27.5rem; // 456px
        }
        i {
            align-self: center;
            color: var(--clr-secondary);
            font-size: 10rem;
        }

        .button-image {
            object-fit: cover;
            min-height: 10rem;
            border-radius: 10px 10px 0 0;
        }

        .button-content {
            padding: 0 30px 30px;
            display: flex;
            flex-direction: column;
            height: 100%;
            .button-title {
                
            }

            .button-text {
                
            }

            .the-button {
                margin-top: auto;
                margin-right: auto;
                text-align: center;
            }
        }
    }

    &.alt-featured {
        display: grid;
        grid-template-columns: auto;
        gap: 20px;
        margin-block: 2rem;

        @media screen and (min-width: 992px) {
            grid-template-columns: 40% 60%;
            max-width: 70%;
        }

        .subtitle {
            font-weight: 400;
        }

        .buttons {
            display: flex;
            flex-direction: column;

            .button {
                display: grid;
                grid-template-columns: 25% 75%;
                justify-items: center;
                align-items: center;
                width: 100%;
                background: transparent;
                min-height: auto;
                padding-bottom: 20px;
                text-decoration: none;

                &:hover {
                    text-decoration: none;
                    background: var(--clr-primary);
                    color: inherit;
                }

                &:not(:last-child) {
                    border-bottom: 1px solid var(--clr-primary);
                }

                &:has(> :first-child:last-child) {
                    grid-template-columns: 100%;
                }

                .button-title {
                    font-weight: 400;
                    margin-bottom: 0.5em;
                }

                .content-wrapper {
                    padding-left: 50px;
                    display: flex;
                    flex-direction: column;
                }

                i {
                    font-size: 5rem;
                }
            }
        }
    }
}
.carousel-arrows {
    --buttons-arrow-size: 2.75rem;
    display: flex;
    justify-content: center;
    margin-bottom: 2.75rem;
    position: relative;
    i {
        color: var(--clr-primary);
        border: 2px solid var(--clr-primary);
        border-radius: 5px;
        height: 40px;
        width: 40px;
        z-index: 1;
        top: unset;
        transition: 0.4s;
        position: absolute;
        display: block;
        cursor: pointer;
      &:last-child {
        // margin-right: 0;
      }
  
      &:hover, &:focus {
        color: white;
        background-color: var(--clr-primary);
      }
      &::before {
        display: flex;
        height: 100%;
        justify-content: center;
        align-items: center;
      }
      &.fa-chevron-left {
          left: 30%;
          &::before {
            content: "\f060";
          }
      }
      &.fa-chevron-right {
          right: 30%;
          &::before {
            content: "\f061";
          }
      }
      @media screen and (min-width: $tablet){
        &.fa-chevron-left {
            left: 40%;
        }
        &.fa-chevron-right {
            right: 40%;
        }
      }
    }
}