* {
    --gradient: linear-gradient(var(--gradient-angle, 90deg), var(--color-1, #000), var(--color-2, #fff));
}

:root {
    /** BUTTON **/
    --border-width: 3px;
    --button-padding: 1rem 2rem;
    --button-padding-no-border: calc(1rem + var(--border-width)) calc(var(--border-width) + 2rem);

    --box-shadow: 0 20px 25px #293d4729;
    .the-button {
        --box-shadow: 0 10px 25px #293d4729;
    }
    .image-slider-container {
        --box-shadow: 0 50px 66px #293d471a;
    }

    --font-color-main: #1a1818;
    --link-color-hover: inherit;
    --link-text-decoration: none;
    --link-text-decoration-color: inherit;
    --link-text-decoration-hover: none; //instead animated with an after element
    --link-text-decoration-hover-color: #1a1818;
    /**HERO**/
    --hero-height: 93vh;

    --limit-width: 80%;
    header,
    footer,
    .page-template-homepage {
        --limit-width: 90%;
    }
}
