// main: ../../../../../style.scss
.bottom-bar {
    .header-nav {
        display: flex;
        justify-content: space-between;
        align-items: center;
        a {
            .header_logo {
                width: auto;
                max-width: calc(100% - 2rem);
                max-height: 4rem;
                transition: 0.25s ease-in;
                &:hover {
                    transform: scale(1.1);
                }
            }
        }
    }
}
